page-photo {
    .button1 {
        //margin: auto;
        left: 5em;
    }
    .button2 {
        left: 6em;
    }
    .ul {
        position: relative;
        top:3em;
    }
    .buttons {
        position: relative;
        top: 5em;
    }
}
