page-tabs {
    .hiveup-tabs {
        font-size: 1em;
    }
    .hiveup-tabs .show-tabbar {
        background-color: #283446;
    }

    .keyboard-shown .tabbar {
        display: none;
    }

    .keyboard-shown ion-tab page-dashboard ion-content .scroll-content {
        margin-bottom: 0 !important;
    }

    a.menu-link {
        border-bottom: 1px solid rgb(200, 199, 204);
    }

    a.menu-link .item-inner {
        border-bottom: 0px !important;
    }

    .menu-profile-avatar {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu-profile-avatar > img {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 48px;
        width: 48px;
        max-height: 64px !important;
        max-width: 64px !important;
        border-radius: 50% !important;
    }

    .menu-side .toolbar-title {
        color: #283446 !important;
        font-family: 'Montserrat';
        font-size: 18px;
        letter-spacing: 1px;    
    }

    .menu-version {
        position: absolute;
        bottom: 0;
    }

    .menu-version .item-inner {
        border-bottom: 0 !important;
    }

    .menu-version ion-label {
        color: #666;
    }

}